*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.accordion-title{
    cursor: pointer;
    padding: 10px 4px;
     background-color: rgb(228, 227, 227);
}

.accordion-container{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 20px;
    padding: 10px 4px;
   
}

.accordion{
    border:0.5px solid rgb(130, 130, 130)
}

.accordion-content{
    padding: 0.5rem;
}